
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: url("/image1.jpg") center / cover no-repeat;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}


.register-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  padding: 50px 60px;
  background: white;
}

.register-box h2 {
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.register-box input {
  width: 100%;
  padding: 16px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.register-box button {
  width: 100%;
  padding: 16px;
  background: #020c1b;
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}

.back-btn {
  margin-top: 25px;
  background: #f2f2f2 !important;
  color: black !important;
}